<ion-view title="Sign Up ">
    <ion-content padding="true" class="has-header">

      <br>
      <br>

      <form ng-submit="doLogin()" enctype="multipart/form-data" ng-show="showloginlink">
       <div class="list">
         <label class="item item-input">
           <span class="input-label">email</span>
           <input type="text" ng-model="loginData.email">
         </label>
         <label class="item item-input">
           <span class="input-label">Password</span>
           <input type="password" ng-model="loginData.password">
         </label>
         <br>
         <label class="item">
           <button class="button button-block button-positive" type="submit">login</button>
         </label>
       </div>
      </form>

      <br>
      <br>

<div class="" ng-repeat="item in user">
  {{item.firstname}}
  {{item.lastname}}
</div>



      <form ng-submit="doRegister()" enctype="multipart/form-data" ng-show="showRloginlink">
       <div class="list">
         <label class="item item-input">
           <span class="input-label">firstname</span>
           <input type="text" ng-model="registerData.reg_firstname">
         </label>
         <label class="item item-input">
           <span class="input-label">lastname</span>
           <input type="text" ng-model="registerData.reg_lastname">
         </label>
         <label class="item item-input">
           <span class="input-label">email</span>
           <input type="text" ng-model="registerData.reg_email">
         </label>
         <label class="item item-input">
           <span class="input-label">Password</span>
           <input type="password" ng-model="registerData.reg_password">
         </label>
         <br>

         <label class="item">
           <button class="button button-block button-positive" type="submit">sign in</button>
         </label>
       </div>
     </form>


     <form ng-submit="doLogout()" ng-show="showlogout">
      <div class="list">
        <label class="item">
          <button class="button button-block button-positive" type="submit">Logout</button>
        </label>
      </div>
     </form>


<br>
<br>
<div class="text-center" style="text-align: center;">

<p>Samira TV is an Algerian television channel specialising in cooking TV shows, focusing on Algerian and Moroccan cuisine.

</p>
</div>
<br/>
      <div class="text-center">
          <h4 class="assertive" style="text-align: center;"><b>
          Follow us on
          </b></h4>
      </div>



<div class="button-bar padding">

  <a href="#" onclick="window.open('https://www.youtube.com/channel/UCmALBegTZvVvQaSDoHLKxlA', '_system', 'location=yes'); return false;" class="button button-outline button-assertive icon ion-social-youtube"></a>
<a href="#" onclick="window.open('https://www.facebook.com/samiratv.food/', '_system', 'location=yes'); return false;" class="button button-outline button-assertive icon ion-social-facebook"></a>

<a href="#" onclick="window.open('https://twitter.com/samiratvoficial?lang=en', '_system', 'location=yes'); return false;" target="_blank" class="button button-outline button-assertive icon ion-social-twitter"></a>
<a href="#" onclick="window.open('https://www.instagram.com/samiratv.food/?hl=en', '_system', 'location=yes'); return false;" target="_blank" class="button button-outline button-assertive icon ion-social-instagram"></a>
</div>

  </ion-content>
</ion-view>
